@media screen and (max-width: 1300px) {
    header,
    header nav, header nav ul{
        display: flex;
        flex-direction: column;
    }
    #menuHam{
        width: 10vw;
    }
    #menuHam .menuHam-listra{
        height: 3px;
    }
    .dashboard-links{
        flex-direction: column;
        gap: 2em;
    }
}