@media screen and (max-width: 1300px) {
    header,
    header nav, header nav ul{
        display: flex;
        flex-direction: column;
    }
    main{
        margin-top: 30em;
    }
    #menuHam{
        width: 10vw;
    }
    #menuHam .menuHam-listra{
        height: 6px;
    }
}