{% extends "template.html" %}


{% if not request.session.get("email"): %}
    <script> alert("está logado") </script>
{% else %}    
    <script> alert("Não está logado!")</script>
{% endif %}

{% load static %}

{% block style %} <link rel="stylesheet" href="{% static '_forms.css' %}"> {% endblock %}

{% block titulo %}
    Cadastrar Produto
{% endblock %}

{% block conteudo %}
    <h1>Novo Produto</h1>
    <hr>

    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ formProduto.as_p }} 
        <!-- esse as p provavelmente é para dizer que cada elemento é a 
        tag de paragrafo que o Django forms cria -->
        <button type="submit" class="form-button">
            Cadastrar
        </button>

    </form>
{% endblock %}