{% extends "template.html" %}

{% block titulo %} Dashboard {% endblock %}

{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'dashboard.css' %}"> {% endblock %}

{% block conteudo %}
    <div class="dashboard">
        <h1 class="dashboard-title">Bem-vindo {{ nome }}</h1>
        <section class="dashboard-info">
            <h2>Seus dados</h2>
            <aside class="dashboard-info-data">
                <h3>E-mail</h3>
                <h4>{{ email }}</h4>
            </aside>
        </section>
        <section class="dashboard-links">
            <a class="dashboard-links-link usuarios" href="{% url 'exibirUsuarios' %}">Usuários</a>
            <a class="dashboard-links-link cadastrarProduto" href="{% url 'cadastrarProduto' %}">Cadastrar Produto</a>
            <a class="dashboard-links-link produtos" href="{% url 'exibirProdutos' %}">Produtos</a>
            <a class="dashboard-links-link produtos" href="{% url 'grafico' %}">Produtos Cadastrados</a>
            <a class="dashboard-links-link cadastrarProduto" href="{% url 'graficoVenda' %}">Vendas</a>
        </section>
    </div>
    
{% endblock %}