{% extends "template.html" %}

{% block titulo %} Veículos {% endblock %}

{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'produtos.css' %}"> {% endblock %}

{% block conteudo %}
<h1 class="titulo">Veículos cadastrados</h1>
<div class="card-group">
{% for veiculo in listaProdutos %}
    
    <div class="card-group-card">
        <section class="card-group-card-image" style="background-image: url('media/{{veiculo.imagem}}')">
        </section>
        <h3>{{ veiculo.marca }}</h3>
        <h4>{{ veiculo.modelo }}</h4>
        <section class="card-group-card-description">
            <p>
                {{ veiculo.descricao }}
            </p>
        </section>
        <section class="card-group-card-numbers">
            <span class="card-group-card-numbers-count">
                Em estoque: {{ veiculo.estoque }}
            </span>
            <span class="card-group-card-numbers-price">
                $ {{ veiculo.preco }} 
            </span>
            
        </section>

        <section>
            <button>
                Comprar
            </button>
        </section>

    </div>
    
{% endfor %}
</div>

{% endblock %}